@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* font-family: 'Black Han Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* font-family: 'Jua', sans-serif; */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
font-weight: 600;
}

.pc{display: none;}


header{
    background-color: #f8ffee;
    width: 100%;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid #0086008a;
}

.heWrap{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}

h1{
  text-align: center;
  width: 10%;
  padding: 10px;
  z-index: 5;
}

h1 img{
    width: 100%;
    max-width: 40px;
}
.ez{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8ffee;
    font-size: 2vW;
}

.util{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #333;
}

.util li:hover{
    color: #008600;
}

.util li:after{
    content: '|';
    padding: 0 10px;
    color: #444;
}

.util li:last-child::after{
    content: none;
}

.util li:nth-child(3)::after{
    content: none;
}

.util .shake{
    color: #008600;
    margin-left: 20px;
}

.util .shake:hover{
    text-decoration: underline;
}


.gnb{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.gnb li{
    padding: 20px 0;
    background-color: #fff;
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

.gnb li:hover{
    background-color: #008600;
    color: #fff;
}

.search{
    position: relative;
    width: 60%;
    margin: 0 10px;
}

.search input{
    width: 100%;
    margin-left: auto;
    outline: 2px solid #008600;
    padding: 3px;
    padding-left: 5px;
    border-radius: 30px;
    border: 0;
}

.search input:focus{
    outline: 2px solid #fbbb35;
}

.search input::placeholder{
    padding: 3px 10px;
    padding-left: 0;
}

.search img{
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
}

.cart{
    width: 10%;
    text-align: center;
    z-index: 5;
}
.cart img{
    width: 30px
}

.ham{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    z-index: 5;
    position: relative;
}

.ham span{
    width: 100%;
    height: 4px;
    border-radius: 30px;
    background-color: #008600;
    margin: 2px 0;
    display: block;
    position: absolute;
    transition: all 0.5s;
}

.ham .h1{
    margin-top: -10px;
}
.ham .h3{
    margin-top: 14px;
}

.ham.open .h1{
    transform: rotate(45deg);
    margin-top: 0;
}

.ham.open .h2{
    opacity: 0;
}

.ham.open .h3{
    transform: rotate(-45deg);
    margin-top: 0;
}

/* 헤더 일단 나중에  */

main{
    width: 100%;
    background-color: #f8ffee;
    position: relative;
    padding-top: 80px;

}

main .bnWrap{
    width: 80%;
    margin: 0 auto;
}

/*  왜 화면 가득히 안차는가.? */
main .bn{
   padding: 8vw 0;
}
main .bn img{
    margin: 0 auto;
    display: block;
    width: 100%;
}

main button img{
    width: 20px;
}
main .prev{
    position: absolute;
    top: 50%;
    left: 10px;
}
main .next{
    position: absolute;
    top: 50%;
    right: 10px;
}

/*  section */

section{
    width: 100%;
    margin: 0 auto;
}

h2{
    text-align: center;
    padding: 10px 0;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 200;
    padding-top: 40px;
    color: #333;
    font-size: 4vw;
}

 /* //////////////////////////////// */


.s1{
    width: 80%;
    margin: 0 auto;
}

.good{
    display: flex;
    flex-direction: column;

}
.slick-dots{
    order: 1;
    text-align: center;

}

.s1 .slick-dots{
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 2vw;
}

.slick-dots li{
    border-bottom: 1px dotted #aaa;
    padding: 5px 0;
    margin-bottom: 3px;
    color: #333;
}

.slick-dots li a{
    text-align: center !important;
    display: block;
}

.good img{
    width: 100%;
}

.goCon{
    margin-top: 30px;
}

.goCon .slick-list{
    border: 1.5px solid #008600;
    border-radius: 20px;
    padding: 10px;

}

.goCon .slick-dots li.slick-active{
    color: #008600;
    border-color: #008600;
}

.goCon a{
    display: flex;
}

.goPo{
    width: 50%;
}
.goTxt{
    width: 50%;
    display: flex;
    align-items: center;
    color: #555;
}

.goTxt h4{
    color: #008600;
    font-size: 2.5vw;
}

.goTxt p{
    font-size: 2vw;
    margin-top: 10px;
    padding-right: 10px;
}
.goTxt .color{
    font-weight: bold;
    color: #333;
}

/* /////////////////////////// */
.s2{
    background-color: #d5f792;
    padding-bottom: 40px;
}

.s2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 45px;
    padding-top: 30px;
}
.s2 ul li{
    width: 45%;
    background-color: #fff;
    margin-bottom: 30px;
}

.s2 ul li img{
    width: 100%;
}

.s2 .txt{
    padding: 5px 10px;
    font-size: 2vw;
    
}
.s2 p{
    display: flex;
    justify-content: space-between;
}

.s2 .line{
    text-decoration: line-through;
    align-self: flex-end;

}
.s2 .red{
    color: red;
    font-size: 4vw;
    align-self: flex-end;
    margin-top: 10px;
}

.s2 li:nth-child(1) a:hover{cursor: url(../imges/hh1.cur),auto}
.s2 li:nth-child(2) a:hover{cursor: url(../imges/hh2_4.cur),auto}
.s2 li:nth-child(3) a:hover{cursor: url(../imges/hh3_5.cur),auto}
.s2 li:nth-child(4) a:hover{cursor: url(../imges/hh2_4.cur),auto}
.s2 li:nth-child(5) a:hover{cursor: url(../imges/hh3_5.cur),auto}
.s2 li:nth-child(6) a:hover{cursor: url(../imges/hh6_8.cur),auto}
.s2 li:nth-child(7) a:hover{cursor: url(../imges/hh7.cur),auto}
.s2 li:nth-child(8) a:hover{cursor: url(../imges/hh6_8.cur),auto}

/*  s3 */

.s3{
    padding-top: 50px;
}
.s4{
    padding-bottom: 50px;
}
.s3, .s4{
    position: relative;
}

h4{
}
.new{
    width: 80%;
    margin: 0 auto;
}
.newBox{
    width: 25%;
    margin: 10px;
}
.newBox img{
    width: 70%;
    margin: 0 auto;
}
.newBox .txt3{
    font-size: 12px;
    text-align: center;
    line-height: 3vw;
    margin: 15px 0;
}
.newBox h4{
    color: #333;
}
.newBox p{
    color: #008600;
}

.s3 button img, .s4 button img{
    width: 20px;
}
.sNe{
    position: absolute;
    top: 50%;
    right: 20px;
}
.sPr{
    position: absolute;
    top: 50%;
    left: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s5{
    background-color: #008600;
    width: 100%;
    padding: 20px 0;
}

.s5 h3{
    font-weight: 200;
    margin-bottom: 5px;
}

.s5Wrap{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}

.s5Wrap .box{
    display: flex;
    flex-wrap: wrap;
justify-content: center;}

.tr{
    border: 2px solid #fff;
    border-radius: 40px;
    margin: 10px 8px;
    padding: 5px 8px;
    font-size: 12px;
}

.tr:hover{
    color:#008600;
    background-color: #fff;
}


.s6{
    background-color: #f8ffee;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.s6Wrap{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.s6 .blog{
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    margin: 5%;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(107, 107, 107, 0.247);
}
.s6 .blog img{
    width: 100%;
}
.s6 .blog .txt{
    margin: 8px;
}
.s6 .blog h4{
    font-size: 2vw;
    padding: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    padding-top: 0;
    color: #333;
}
.s6 .blog p{
    font-size: 12px;
}

/* //////////////////// */

.s7{
    background-color: #ffec9c;
    background-image: url(../imges/re_bg.png);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    
}
.s7 img{ width: 110px;}
.s7 h2{
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    padding: 5px 10px;
    font-family: 'Jua', sans-serif;
}

.s7 h2:hover{
    animation-name: up;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}




@keyframes up{
    0%{
        top: 0;
    }

    25%{
        transform: translateY(-20px);
    }

    50%{
        transform: translateY(0);
        transform: scale(110%);
    }

    70%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(10px);
    }
}


/* //////////////// */

footer{
    padding: 40px;
    background-color: #f5f5f5;
}

footer h3{
    text-align: center;
}
footer h3 img{
    width: 100px;
    margin-bottom: 10px;
}
.fmuWrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.fmu{
    margin: 0 14px;
    font-size: 2.5vw;
}
.fmu li{
    margin-bottom: 3px;
    color: #555;
}
.fmu .ft{
    margin-bottom: 5px;
    color: #333;
}

.plus{
    font-size: 1vw;
    margin-top: 30px;
    color: #777;
    border-top: 1px solid rgb(107, 107, 107);
    padding-top: 30px;
}

.plus a{
    color: #008600;
}

.last{
    display: flex;
    font-size: 3vw;
    justify-content: center;
    margin-top: 30px;
    color: #008600;
    
}

.last li:after{
    content: "|";
    margin: 0 5px;
    color: #555;
}
.last li:last-child:after{
    content: none;
}
